.up-down-button {
  display: flex;
  margin-left: 12px;

  button,
  span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 28px;
  }

  span {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
  }

  button {
    color: #fff;
    background-color: red;
    border: none;
  }
}