.home {
  margin: 0;
  padding: 0;
  max-width: 100%;

  .con-1,
  .con-3 {
    margin: 100px auto 0 auto;
    width: 100%;
    max-width: 1280px;

    @include tablet {
      padding: 0 1.875vw;
    }

    @include mobile {
      margin-top: 60px;
      padding: 0 4%;
    }
  }

  // content1
  .con-1 {
    text-align: center;

    .product-best-wrap {
      .product-best-nav {
        display: flex;
        justify-content: center;
        margin: 40px 0 60px 0;

        @include mobile {
          overflow-x: scroll;
          padding: 0 8%;
          justify-content: flex-start;

          &::-webkit-scrollbar {
            display: none; //크롬, 사파리, 오페라, 엣지
          }
        }

        li {
          display: flex;
          justify-content: center;
          align-items: center;
          min-width: 100px;
          height: 32px;
          border-radius: 16px;
          background-color: #eee;
          cursor: pointer;

          &:not(:last-of-type) {
            margin-right: 32px;
          }

          &.active {
            color: #fff;
            background-color: #000;
          }
        }
      }

      .product-best-list {
        display: flex;
        flex-wrap: wrap;

        li {
          margin: 0 3%;
          width: 14%;

          @include mobile {
            margin: 4% 4%;
            width: 42%;
            font-size: 14px;
          }

          &:nth-of-type(n+6) {
            margin-top: 4%;
          }

          .like {}

          .product-best-img {
            position: relative;

            >img {
              width: 100%;
              height: 18.125vw;
              max-height: 236px;


              @include mobile {
                height: 52vw;
                max-height: 396px;
              }

            }

            .ranking {
              display: flex;
              justify-content: center;
              align-items: center;
              position: absolute;
              top: 0;
              right: 0;
              width: 48px;
              height: 32px;
              font-size: 14px;
              color: #fff;
              background-color: #000;
              border: 1px solid #fff;
            }

            .add-cart {
              position: absolute;
              right: 0;
              bottom: 4%;
            }
          }
        }
      }
    }
  }

  // content2
  .con-2 {
    margin-top: 100px;

    @include mobile {
      margin-top: 60px;
    }

    .lookbook-wrap {
      text-align: center;
      overflow: hidden;

      ul {
        display: flex;
        margin-top: 40px;
        animation: lookbookFlow 5s infinite linear;

        &:hover {
          animation-play-state: paused;
        }

        @include mobile {
          animation-name: lookbookFlow-mobile;
        }

        li {
          position: relative;
          flex-shrink: 0;
          margin: 0 1%;
          width: 18%;

          @include mobile {
            width: 50%;
            margin: 0;
          }

          &:hover .lookbook-title {
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.6);
            transition: 0.3s all;

            p {
              bottom: 10%;
              opacity: 1;
            }
          }

          img {
            width: 100%;
          }

          .lookbook-title {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            p {
              position: absolute;
              bottom: 0%;
              left: 50%;
              padding: 0 20%;
              width: 100%;
              opacity: 0;
              color: #fff;
              transform: translateX(-50%);

              transition: 0.5s all;

              a {
                display: block;
                padding: 0 10%;
                margin-top: 32px;
                height: 48px;
                line-height: 48px;
                overflow: hidden;
                border: 1px solid #fff;

                @include mobile {}
              }
            }
          }
        }
      }
    }
  }

  // content3
  .con-3 {
    display: flex;
    justify-content: space-between;

    @include mobile {
      flex-direction: column;
    }

    .news-wrap {
      width: 50%;
      min-height: 240px;

      @include mobile {
        width: 100%;
        min-height: 212px;
      }

      .title {
        display: flex;
        justify-content: space-between;
        padding-bottom: 20px;
        border-bottom: 2px solid #000;

        @include mobile {
          font-size: 18px;
        }

        ul {
          display: flex;

          li {
            margin-right: 32px;
            color: #ccc;

            &.active {
              color: #000;
            }
          }
        }
      }

      .news-board {
        margin-top: 20px;

        ul {
          padding-left: 18px;

          li {
            position: relative;
            margin-bottom: 8px;
            list-style: square;

            @include mobile {
              font-size: 14px;
            }

            a {
              display: inline-block;
              width: calc(100% - 100px);
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
            }

            .date {
              position: absolute;
              right: 0;
            }
          }
        }
      }
    }

    .cs-wrap {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: 40%;

      @include mobile {
        align-items: center;
        margin-top: 40px;
        width: 100%;
        text-align: center;
      }

      .title {
        display: flex;
        align-items: flex-end;
        vertical-align: bottom;

        @include mobile {
          font-size: 20px;
        }

        .cs-number {
          font-size: 32px;
          font-weight: bold;

          @include mobile {
            font-size: 24px;
          }
        }

        img {
          height: 32px;

          @include mobile {
            height: 28px;
          }
        }
      }

      .cs-info {
        line-height: 1.6;
        color: #555;

        @include mobile {
          font-size: 14px;
        }
      }

      .service-wrap {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        @include mobile {
          flex-direction: column;
          align-items: center;
        }

        .button-box {
          display: flex;
          margin: 12px 0;

          a {
            display: flex;
            justify-content: center;
            align-items: center;
            // margin-right: 16px;
            width: 100px;
            height: 40px;
            text-align: center;
            border: 1px solid #000;

            &:first-of-type {
              margin-right: 16px;
            }
          }
        }

        .site-box {
          display: flex;
          margin: 12px 0;

          a {
            margin-right: 8px;

            &:last-of-type {
              margin-right: 0;
            }
          }
        }
      }
    }
  }
}