.lookbook {
  .page-contents-wrap {
    .page-list {
      li {
        margin: 0 2%;
        width: calc(88%/3);
        text-align: center;

        @include mobile {
          margin: 4% 0;
          width: 100%;
          font-size: 14px;
        }

        &:nth-of-type(n+4) {
          margin-top: 4%;
        }

        .event-title,
        .lookbook-title {
          margin-top: 12px;
          font-size: 24px;
        }
      }
    }
  }
}