.page-wrap {
  margin: 100px auto 0 auto;
  width: 100%;
  max-width: 1280px;

  @include tablet {
    padding: 0 1.875vw;
  }

  @include mobile {
    margin-top: 60px;
    padding: 0 4%;
  }

  .page-nav {
    position: relative;
    border-bottom: 1px solid #ddd;

    h1 {
      margin-bottom: 32px;
    }

    ul {
      display: flex;
      margin-bottom: -1px;
      overflow-x: scroll;

      &::-webkit-scrollbar {
        display: none; //크롬, 사파리, 오페라, 엣지
      }

      li {
        padding: 16px;
        min-width: 86px;
        text-align: center;
        font-size: 18px;


        @include mobile {
          min-width: 80px;
          font-size: 16px
        }

        &.active {
          border-bottom: 2px solid black;
        }
      }
    }
  }

  .filter-wrap {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;

    @include mobile {
      flex-direction: column;
      font-size: 14px;
    }

    .price-filter-wrap {
      display: flex;
      align-items: center;

      @include mobile {
        flex-direction: column;
        align-items: flex-start;
      }

      .filter-criteria {
        flex-shrink: 0;
        margin-right: 32px;
      }

      ul {
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        li {
          display: flex;
          align-items: center;
          margin-right: 24px;

          @include mobile {
            margin-top: 8px;
          }

          input[type="radio"] {
            margin-right: 4px;
          }

          &.set-price-range {
            display: flex;
            align-items: center;
            margin-right: 0;

            @include mobile {
              width: 100%;
            }

            label,
            button {
              flex-shrink: 0;
            }

            input[type="text"] {
              margin: 0 4px;
              width: 80px;
              height: 20px;
              border: 1px solid #ccc;

              @include mobile {
                width: 100%;
              }
            }

            button[type="submit"] {
              width: 40px;
              height: 20px;
              border: none;

              &:active {
                background-color: #999;
              }
            }
          }
        }
      }
    }
  }

  .sort-wrap {
    select {
      width: 100px;
      height: 20px;
      border: 1px solid #ddd;

      @include mobile {
        margin-top: 16px;
        width: 100%;
        height: 36px;
      }
    }
  }

  .page-contents-wrap {
    margin-top: 32px;

    .page-list {
      margin-top: 32px;
      display: flex;
      flex-wrap: wrap;

      li {
        position: relative;

        .item-img {
          position: relative;
          width: 100%;

          >img {
            width: 100%;
          }

          .add-cart {
            position: absolute;
            right: 0;
            bottom: 4%;
          }

          .like {}
        }
      }
    }
  }

  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 60px;

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 2px;
      width: 32px;
      height: 32px;

      &.prev-page,
      &.next-page {
        border: 1px solid #ddd;
      }

      &.page-num.active {
        background-color: #ddd;
        font-weight: bold;
      }
    }
  }
}